body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.card-title {
  text-align: center;
  font-size: 2rem;
}

form .container {
  display: flex;
  justify-content: center;
}

.error {
  background-color: rgb(227, 152, 152);
  text-align: center;
  margin-top: 25px;
  padding: 20px;
  font-weight: 600;
  max-width: 60%;
  border-radius: 5px;
}

.film-list {
  display: flex;
  justify-content: center;
}