h1 {
  text-align: center;
}
button {
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

#display-row {
  border: solid 5px black;
  padding: 5px;
  height: 40px;
  display: flex;

}

.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#second-operand {
  display: none;
}